/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
		font-size: 100%;
font: inherit;
	  vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
display: block;
	}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
	q:before, q:after {
content: '';
content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------*/

.left {
	float:left;
}

.right {
	float:right;
}

html {
	height: 100%;
}

body {
	background-color: #ddd;
	font: 11pt "Helvetica Neue", sans-serif;
	color: #222;
	height: 100%;
}

#nav {
	background: #335678; /* Old browsers */
	background: -webkit-linear-gradient(top, #335678 0%,#254262 100%); /* Chrome10+,Safari5.1+ */
	width: 100%;
	height: 30px; /* 45 */
	z-index: 999;
	border-top: 1px solid #7195b7;
	border-bottom: 1px solid #152029;
	position: fixed;
	box-shadow: 0 2px 2px rgba(0,0,0, .3);
	overflow: hidden;
}

.clear {
	clear:both;
}

.message {
	margin: 10px 10px 0;
	background-color: #e3dac7;
	border: 1px solid #d1c7a0;
	padding: 7px;
	border-radius: 5px;
}

#nav h1 a {
	display:block;
	width: 67px;
	height: 30px;
	background: url(../img/logo_small.png) no-repeat center;
	position: absolute;
	left: 50%;
	margin-left: -34px;
	top: 1px;
}

#nav h1 a span {
	display: none;
}

#nav #navleft {
	padding: 3px 5px;
	position:absolute;
	top: 3px;
	left: 3px;
	border: 1px solid #4b4529;
	background: #e3d26e; /* Old browsers */
	background: -webkit-linear-gradient(top,  #e3d26e 0%,#cbb133 100%); /* Chrome10+,Safari5.1+ */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 0.8em;
}

#nav #navright {
	padding: 3px 5px;
	position: absolute;
	top: 3px;
	right: 3px;
	border: 1px solid #4b4529;
	background: #e3d26e; /* Old browsers */
	background: -webkit-linear-gradient(top,  #e3d26e 0%,#cbb133 100%); /* Chrome10+,Safari5.1+ */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 0.8em;
}

#nav #navright a,
#nav #navleft a {
	color: #4b4529;
   text-decoration: none;
   font-weight: bold;
   text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#nav .pressed {
	background: -webkit-linear-gradient(top, #dbc03a 0%,#eedc72 100%) !important;
	border: 1px solid #f2e5b6 !important;
}

body {
}

#body {
	padding: 45px 0 10px;
}

h2 {
	margin: 10px 10px 0;
	font-weight: bold;
	font-size: 1.6em;
}

form {
	margin: 10px 10px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	-webkit-border-radius: 5px;
}

form input {
	padding: 3px;
}

form.login label {
	display: block;
	padding-top: 3px;
}

form.login div {
	margin-bottom: 3px;
}

form.login .submit {
	padding-top: 10px;
	width: auto;
}

form.login input {
	width: 250px;
}

form.login .error .error-message {
	background-color: #f78373;
	border: 1px solid #973e34;
	padding: 3px;
	border-radius:3px;
	font-weight: bold;
	color: #973e34;
}

a {
    -webkit-tap-highlight-color: rgba(62, 124, 182, .4);
}

a.button {
	margin: 10px 10px 0;
	display: block;
	padding: 7px;
	background-color: #555;
	-webkit-border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0, .3);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-weight: bold;
	text-decoration: none;
}

a.button:before {
	content:'';
	display: block;
	height: 16px;
	width: 26px;
	position: absolute;
	right: 10px;
	margin-top:2px;
	z-index: 80;
	background-image: url(../img/arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
}

a.button.blue {
	background: #335678; /* Old browsers */
	background: -webkit-linear-gradient(top, #335678 0%,#254262 100%); /* Chrome10+,Safari5.1+ */
	border-top: 1px solid #7195b7;
	border-bottom: 1px solid #152029;
}

ul.list {
	margin: 10px 10px 0;
	box-shadow: 0 2px 2px rgba(0,0,0, .3);
	-webkit-border-radius: 5px;
}

ul.list lh {
	display: block;
	padding: 7px;
	background-color: #555;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-weight: bold;
	background: -webkit-linear-gradient(top, #777 0%,#444 100%); /* Chrome10+,Safari5.1+ */
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #444;
}

ul.list li {
	display: block;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

ul.list li:last-child {
	border-bottom: none;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

ul.list a {
	padding: 7px;
	text-decoration: none;
	display: block;
	background-image: url(../img/arrow_dark.png);
	background-position: right center;
	background-repeat: no-repeat;
	color: black;
}

ul.list b {
	font-weight: bold;
}

ul.list p {
	padding: 7px;
}

p b {
	font-weight: bold;
}

ul.list strong {
	color: #222;
	font-weight: bold;
	font-size: 1.3em;
	display: block;
}

ul.list em {
	color: #888;
	font-size: .9em;
	display: block;
}

/* MAPS ----------------------------------*/

#map_wrapper{height:100%; width:100%; z-index:1;position: absolute;}
#map_canvas { height: 420px; width: 100%;}
#eventForm{
	width: 100%;
	position: absolute;
	z-index: 100;
	top: -400px;

}
#form_wrapper{
	margin: 0;
	top: 70px;
	position: absolute;
	/*background: rgba(250,250,250,0.8);*/
}

#eventForm form {
	padding: 10px;
}

li .eventForm {
	padding: 10px !important;
	border: 0 !important;
	margin: 0 !important;
}

#eventForm label, .eventForm label {
	padding-top: 3px;
	padding-right: 10px;
	display: block;
	float: left;
	width: 85px;
}

#eventForm textarea, .eventForm textarea {
	width: 270px;
}

#eventForm .submit, .eventForm .submit {
	float:left;
}

#currentLocation {
	width: 24px;
	height: 24px;
	display:block;
	float:right;
	margin-right: 10px;
	background:url(../img/cur.png) no-repeat;
}

#listView {
	width: 24px;
	height: 24px;
	display:block;
	float:right;
	margin-right: 10px;
	background:url(../img/list.png) no-repeat;
}

#search_bar{
	width: 100%;
	padding: 3px 3px 3px 5px;
	margin: 0;
	border-radius: 0;
	left: -1px;
	background: -webkit-linear-gradient(top, #335678 0%,#254262 100%); /* Chrome10+,Safari5.1+ */
	border:none;
	border-top: 1px solid #7195b7;
	border-bottom: 1px solid #152029;
	position: fixed;
	z-index: 9001;
	top: 32px;
}
#search_bar #address {
	width: 175px;
}

/* HOME SPLASH ------------------------------------------------------------- */

#splash {
	min-height: 380px;
	background: url(../img/bg.png) center repeat;
	margin: 0;
	padding: 60px 20px 30px;
	padding-bottom: 30px;
}

#splash h1 {
	padding: 10px 10px 0;
	font-size: 1.5em;
	font-weight: bold;
}

#splash p {
	padding: 10px 10px 0;
}

#within {
	padding: 20px 20px 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}

/* CATEGORIES ---------------------------------------- */
#cat{
	position: fixed;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 60px;
	border-top:1px solid #666;
	background-color: #ddd;
	bottom: 0;
	z-index: 900;
}

#cat ul {
	width: 500%;
}

#cat li a {
	width: 80px;
	padding-top:34px;
	height: 26px;
	display: block;
	text-align: center;
	color: #333;
	text-shadow: 0 1px 0px #fff;
	text-decoration: none;
}

#cat li {
	background-position: center 5px;
	background-repeat: no-repeat;
	display: block;
	width: 78px;
	height: 60px;
	float: left;
	font-size: .7em;
	line-height: .9em;
	border-right: 1px solid #666;
	border-left: 1px solid #fff;
	opacity: .6;
}

#cat li.active {
	opacity: 1;
	background-color: #eee;
}
