 <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0;}
      #map_wrapper{height:70%; width:100%; z-index:1;position: absolute;}
      #map_canvas { height: 100%; width: 100%;}

    </style>
 
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1MJxRNYKyb_-ONBOJt1wUHe03niXTxPw&sensor=true"> 
    </script>

    

    <script type="text/javascript">
 

		$(document).ready(function() {
	    })
		  


		
		function blick(){
		
		}
		
		var map;
		var markersArray = [];
		var createEvent = true;
		
		function initialize() {
			//var defaultView = new google.maps.LatLng(37.7699298, -122.4469157);
		  
			var mapOptions = {
		    	zoom: 14,
		    	//center: defaultView,
		    	mapTypeId: google.maps.MapTypeId.ROADMAP
		  	};
		  	map =  new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(success, error);
			} else {
				alert('geolocation not supported');
			}
		  
		    //listener functions for creating events
			google.maps.event.addListener(map, 'click', function(e) {
				if(createEvent == true){
			    	
			    	addMarker(e.latLng);
			    	//createEvent = false;
			    }
		    
			});
			
			var buttontest = document.getElementById('button2');
			google.maps.event.addDomListener(buttontest, 'click', function(){
		  		createEvent = true;
		  	});
		}
		
		//when successfully getting the current position
		function success(position) {
		
		  var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);
          var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              content: 'You are here!',
              size: new google.maps.Size(10,10),
          });
          
          marker = new google.maps.Marker({
		    	position: pos,
		    	map: map
			});
          map.setCenter(pos);
		}
		
		function error(msg) {
		  alert('error: ' + msg);
		}
		
		function addMarker(location) {
			marker = new google.maps.Marker({
		    	position: location,
		    	map: map
			});
		  
			map.panTo(location);
		  
		}

	google.maps.event.addDomListener(window, 'load', initialize);
    </script>

  <div id="map_wrapper">
   		<div id="map_canvas"></div>
   		<div id="panel">
	 		<input id="button2" type=button value="Create an event">
			<input id="button3" onclick="blick();" type=button value="test">
		</div>
  </div>
</div>