<?php
if ($current_user['id'] == $event['Event']['user_id'])
	$this->set('tab_bar', '<span id="navright">' . $this->Html->link(__('Edit Event'), array('action' => 'edit', $event['Event']['id'])) . '</span>'); 
?>
<ul class="list">
	<lh><? echo $event['Event']['name']; ?></lh>
	<li>
		<p>
			<b>Meeting time: </b><? echo $event['Event']['start_time']; ?><br>
			<b>Category: </b><? echo $event['Event']['category_id']; ?>
		</p>
		<p>
			<? echo $event['Event']['description']; ?>
		</p>
	</li>
</ul>

<p><a class="button blue" href="#">Respond</a></p>