<ul class="list">
	<lh>What are you interested in?</lh>
<?php foreach( $category_list as $category): ?>
	<li><strong><?php echo $category['Category']['name']; ?><a href="/subscribe/<?php echo $category['Category']['id'];?>">Subscribe</a></strong></li>
<?php endforeach; ?>
</ul>
	