<?php $this->set('tab_bar', '<span id="navright"><a href="/users/add">Register</a></span>'); ?>

<h2>Login to lmk</h2>
<?php
echo $this->Form->create('User', array('action' => 'login', 'class'=>'login'));
echo $this->Form->input('username');
echo $this->Form->input('password');
echo $this->Form->end('Log In', array('class' => 'submit'));
?>
